.top-bar {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  background-color: #bdbdbd;
  border: solid 2px black;
}

.top-bar a {
  background-color: #808080;
  height: 100%;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 200px;
  color: #ffff33;
  text-decoration: none;
}

.top-bar a:hover {
  background-color: #ffff33;
  color: #808080;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Verdana, sans-serif;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content img {
  height: auto;
  width: 400px;
  border: solid 5px #7ea8e5;
}

.text-pres {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 208px;
  width: 400px;
  border: dotted 5px #7ea8e5;
}

.form {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  margin: 10px;
  width: 1400px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.row a {
  margin-top: 0;
  text-align: right;
  max-width: 400px;
  flex-grow: 1;
  margin-right: 10px;
}

.wrapper input {
  width: 600px;
  height: 50px;
  border-radius: 15px;
}

.wrapper select {
  width: 600px;
  height: 30px;
  border-radius: 10px;
}

.choicebox {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.choicebox input[type="checkbox"] {
  position: relative;
  margin-left: 5px;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  outline: none;
  transition: all 0.3s ease;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked::before {
  background-color: #333;
}

.choicebox label {
  margin-right: 15px;
}

button {
  background-color: #cc6600;
  color: white;
  height: 70px;
  width: 200px;
  border-radius: 15px;
}

button:hover {
  background-color: white;
  color: #cc6600;
}
